html,
body {
  height: 100%;
  color: #444444;
}

body {
  background-color: #cdb4db;
  background-attachment: fixed;
  background: url("sky.svg") no-repeat;
  background-size: cover;
  background-position: 0 28%;
  font-family: ofelia-display, sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1.5px;
}

h1 {
  font-family: lores-9-plus-narrow, sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  margin: 2rem 0 0 0;
  color: #fff;
}

h2 {
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 1.1rem;
  margin: 0.5rem 0 0 0;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.player-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  color: #fff;
  margin-bottom: 1rem;
  line-height: 2;
  text-align: center;
}
.player-buttons button {
  padding: 0.5rem 1rem 0.3rem 1rem;
  margin: 0 0.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  transition: 300ms ease;
}
.player-buttons button:hover {
  background-color: #cdb4db;
}
.player-buttons button img {
  width: 20px;
  height: 20px;
}
.player-buttons .start-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  font-family: lores-12, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 3px;
  font-size: 1.3rem;
  text-transform: uppercase;
  height: 50px;
  width: 120px;
}
.player-buttons .start-button button:hover {
  background-color: rgba(207, 156, 236, 0.561);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.footer a {
  color: #fff;
  letter-spacing: 1.5px;
}
.footer p {
  color: #fff;
  letter-spacing: 1.5px;
  margin: 0.5rem 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 15px;
}

.cell {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -4px rgba(0, 0, 0, 0.05);
  transition: 200ms ease-in-out;
}
.cell:hover {
  backdrop-filter: blur(5px) saturate(150%);
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.winning-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 999;
  width: 50vw;
  height: 30vh;
  background-color: rgba(207, 156, 236, 0.561);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.winning-message span {
  font-family: lores-9-plus-narrow, sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  margin: 2rem 0 1rem 0;
  color: #fff;
}
.winning-message button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  color: #fff;
  font-family: lores-12, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 3px;
  font-size: 1.3rem;
  text-transform: uppercase;
  height: 50px;
  width: 220px;
}
.winning-message button:hover {
  background-color: rgba(207, 156, 236, 0.561);
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.active {
  opacity: 1;
  pointer-events: all;
  z-index: 998;
}

.losing-message {
  display: none;
}

.star,
.moon {
  cursor: not-allowed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}

.star {
  background-image: url("star.png");
}

.moon {
  background-image: url("moon.png");
}

/*# sourceMappingURL=style.css.map */
